.heading_new_pontis {
  padding: 50px 0 100px 0;
  overflow: hidden;
  position: relative;
  background-color: #fff;
}
@media screen and (min-width: 992px) {
  .heading_new_pontis {
    padding: 100px 0;
  }
}
.heading_new_pontis .heading_new_pontis__heading span {
  font-weight: 500;
  display: block;
  color: #951b1e;
  font-size: 35px;
}
@media screen and (min-width: 576px) {
  .heading_new_pontis .heading_new_pontis__heading span {
    font-size: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .heading_new_pontis .heading_new_pontis__heading span {
    font-size: 50px;
  }
}
.heading_new_pontis .heading_new_pontis__heading span.font-weight-bold {
  font-weight: 600;
}
.heading_new_pontis .heading_new_pontis__text-slider .swiper-slide {
  background-color: #fff;
}
.heading_new_pontis .heading_new_pontis__text-slider .swiper-slide h2 {
  font-weight: bold;
  color: #a1a1a2;
  font-size: 25px;
}
@media screen and (min-width: 576px) {
  .heading_new_pontis .heading_new_pontis__text-slider .swiper-slide h2 {
    font-size: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .heading_new_pontis .heading_new_pontis__text-slider .swiper-slide h2 {
    font-size: 40px;
  }
}
.heading_new_pontis .heading_new_pontis__text-slider .swiper-slide span {
  display: block;
  position: relative;
  opacity: 0;
  background-color: #fff;
  transform: translateY(-100%);
  transition: transform 1.1s ease-in-out, opacity 1s ease-in-out;
  z-index: 2;
}
.heading_new_pontis .heading_new_pontis__text-slider .swiper-slide span:last-of-type {
  z-index: 1;
  transition: transform 0.9s ease-in-out, opacity 1s ease-in-out;
}
.heading_new_pontis .heading_new_pontis__text-slider .swiper-slide span.animation {
  opacity: 1;
  transform: none;
}
.heading_new_pontis .heading_new_pontis__slider-overlay {
  pointer-events: none;
  user-select: none;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 20;
}
.heading_new_pontis .heading_new_pontis__slider-overlay img {
  user-select: none;
  pointer-events: none;
}
.heading_new_pontis .heading_new_pontis__img-slider {
  height: auto;
  overflow: hidden;
}
.heading_new_pontis .heading_new_pontis__img-slider .swiper-slide {
  width: 100%;
  overflow: hidden;
}
.heading_new_pontis .heading_new_pontis__img-slider .swiper-slide .swiper-img {
  background-position: center;
  background-size: 110%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  transform: scale(1.3);
}
.heading_new_pontis .heading_new_pontis__img-slider .swiper-slide .swiper-img.animation {
  animation: headerslideranimation 7s ease-in forwards;
  -webkit-animation: headerslideranimation 7s ease-in forwards;
}
.heading_new_pontis .heading_new_pontis__img-slider .swiper-wrapper {
  position: absolute;
  top: 0;
  transform: scale(0.99);
}
.heading_new_pontis .swiper-pagination {
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
}
.heading_new_pontis .swiper-pagination .swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  margin-right: 5px;
  background-color: #f2f2f2;
  opacity: 1;
  transition: background-color 0.3s ease;
}
@media screen and (min-width: 992px) {
  .heading_new_pontis .swiper-pagination .swiper-pagination-bullet {
    height: 16px;
    width: 16px;
    margin-right: 8px;
  }
}
.heading_new_pontis .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #cccccc;
}
.heading_new_pontis .heading_new_pontis__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 2;
  pointer-events: none;
  user-select: none;
}
.heading_new_pontis .heading_new_pontis__bg .bg-circle {
  background-image: url("../imgs/svg/header-bg-circle.svg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
}
.heading_new_pontis .heading_new_pontis__bg .bg-circle.bg-circle-1 {
  width: 100px;
  height: 100px;
  top: 22px;
  left: 60%;
}
@media screen and (min-width: 992px) {
  .heading_new_pontis .heading_new_pontis__bg .bg-circle.bg-circle-1 {
    width: 100px;
    height: 100px;
    top: 45px;
    left: 26%;
  }
}
.heading_new_pontis .heading_new_pontis__bg .bg-circle.bg-circle-2 {
  width: 130px;
  height: 267px;
  top: 34%;
  left: -96px;
}
@media screen and (min-width: 992px) {
  .heading_new_pontis .heading_new_pontis__bg .bg-circle.bg-circle-2 {
    width: 190px;
    height: 240px;
    top: 54%;
    left: -150px;
  }
}
@media screen and (min-width: 1400px) {
  .heading_new_pontis .heading_new_pontis__bg .bg-circle.bg-circle-2 {
    width: 222px;
  }
}
.heading_new_pontis .heading_new_pontis__bg .bg-circle.bg-circle-3 {
  width: 304px;
  height: 338px;
  bottom: 114px;
  left: 17%;
  display: none;
  transform: translateY(100%);
}
@media screen and (min-width: 992px) {
  .heading_new_pontis .heading_new_pontis__bg .bg-circle.bg-circle-3 {
    display: block;
  }
}
.heading_new_pontis .heading_new_pontis__bg .bg-circle.bg-circle-4 {
  width: 355px;
  height: 629px;
  right: 151px;
  bottom: 230px;
  transform: translate(100%, 100%);
}
@media screen and (min-width: 576px) {
  .heading_new_pontis .heading_new_pontis__bg .bg-circle.bg-circle-4 {
    width: 569px;
    height: 629px;
    right: 228px;
    bottom: 179px;
  }
}
@media screen and (min-width: 768px) {
  .heading_new_pontis .heading_new_pontis__bg .bg-circle.bg-circle-4 {
    width: 433px;
    height: 703px;
    right: 200px;
    bottom: 250px;
  }
}
@media screen and (min-width: 992px) {
  .heading_new_pontis .heading_new_pontis__bg .bg-circle.bg-circle-4 {
    width: 569px;
    height: 629px;
    bottom: 200px;
    right: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .heading_new_pontis .heading_new_pontis__bg .bg-circle.bg-circle-4 {
    bottom: 200px;
    right: 200px;
  }
}

@keyframes headerslideranimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
.heading_sub_new_pontis {
  background-color: #fff;
  padding: 60px 0;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 992px) {
  .heading_sub_new_pontis {
    padding: 60px 0;
  }
}
.heading_sub_new_pontis .heading_sub_new_pontis__bg {
  width: auto;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
  position: relative;
}
@media screen and (min-width: 992px) {
  .heading_sub_new_pontis .heading_sub_new_pontis__bg {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
}
.heading_sub_new_pontis .heading_sub_new_pontis__bg .heading_sub_new_pontis__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1px;
  left: 0;
  z-index: 2;
  background: white;
  background: linear-gradient(180deg, white 5%, rgba(255, 255, 255, 0) 50%);
}
@media screen and (min-width: 992px) {
  .heading_sub_new_pontis .heading_sub_new_pontis__bg .heading_sub_new_pontis__overlay {
    top: 0;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 30%, white 75%);
  }
}
.heading_sub_new_pontis .heading_sub_new_pontis__bg .heading_sub_new_pontis__overlay::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("../imgs/svg/header-overlay-decor.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 992px) {
  .heading_sub_new_pontis .heading_sub_new_pontis__bg .heading_sub_new_pontis__overlay::before {
    background-position: 70%;
    background-size: 60%;
  }
}
.heading_sub_new_pontis .heading_sub_new_pontis__bg .bw-img,
.heading_sub_new_pontis .heading_sub_new_pontis__bg .main-img {
  z-index: 1;
}
@media screen and (max-width: 991.5px) {
  .heading_sub_new_pontis .heading_sub_new_pontis__bg .bw-img,
.heading_sub_new_pontis .heading_sub_new_pontis__bg .main-img {
    right: 0;
    width: 100%;
    bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  .heading_sub_new_pontis .heading_sub_new_pontis__bg .bw-img,
.heading_sub_new_pontis .heading_sub_new_pontis__bg .main-img {
    height: 100%;
    right: 0;
  }
}
.heading_sub_new_pontis .heading_sub_new_pontis__bg .bw-img {
  position: relative;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.heading_sub_new_pontis .heading_sub_new_pontis__bg .main-img {
  position: absolute;
  -webkit-mask-image: url("../imgs/svg/header-subpage-mask.svg");
  mask-image: url("../imgs/svg/header-subpage-mask.svg");
  -webkit-mask-size: 75%;
  mask-size: 75%;
  -webkit-mask-position: center;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}
@media screen and (min-width: 992px) {
  .heading_sub_new_pontis .heading_sub_new_pontis__bg .main-img {
    -webkit-mask-position: 85%;
    mask-position: 85%;
  }
}
.heading_sub_new_pontis .container {
  position: relative;
  z-index: 5;
}
.heading_sub_new_pontis .heading_sub_new_pontis__heading {
  margin-bottom: 40px;
  font-size: 35px;
  font-weight: 600;
}
@media screen and (min-width: 992px) {
  .heading_sub_new_pontis .heading_sub_new_pontis__heading span {
    display: block;
  }
}
@media screen and (min-width: 576px) {
  .heading_sub_new_pontis .heading_sub_new_pontis__heading {
    font-size: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .heading_sub_new_pontis .heading_sub_new_pontis__heading {
    margin-bottom: 60px;
    font-size: 50px;
  }
}
.heading_sub_new_pontis .heading_sub_new_pontis__heading.green {
  color: #8ba777;
}
.heading_sub_new_pontis .heading_sub_new_pontis__heading.blue {
  color: #529e9e;
}
.heading_sub_new_pontis .heading_sub_new_pontis__heading.red {
  color: #98000c;
}
.heading_sub_new_pontis p {
  color: #626363;
  font-weight: 300;
  line-height: 1.4;
  font-size: 14px;
}
@media screen and (min-width: 576px) {
  .heading_sub_new_pontis p {
    font-size: 18px;
  }
}
@media screen and (min-width: 992px) {
  .heading_sub_new_pontis p {
    max-width: 328px;
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
