@import "includes/mixins";

.heading_new_pontis {
  padding: 50px 0 100px 0;
  @include media-lg {
    padding: 100px 0;
  }
  overflow: hidden;
  position: relative;
  background-color: #fff;
  .heading_new_pontis__heading span {
    font-weight: 500;
    display: block;
    color: #951b1e;
    font-size: 35px;
    @include media-sm {
      font-size: 40px;
    }
    @include media-xl {
      font-size: 50px;
    }
    &.font-weight-bold {
      font-weight: 600;
    }
  }
  .heading_new_pontis__text-slider {
    .swiper-slide {
      background-color: #fff;
      h2 {
        font-weight: bold;
        color: #a1a1a2;
        font-size: 25px;
        @include media-sm {
          font-size: 30px;
        }
        @include media-xl {
          font-size: 40px;
        }
      }
      span {
        display: block;
        position: relative;
        opacity: 0;
        background-color: #fff;
        transform: translateY(-100%);
        transition: transform 1.1s ease-in-out, opacity 1s ease-in-out;
        z-index: 2;
        &:last-of-type {
          z-index: 1;
          transition: transform 0.9s ease-in-out, opacity 1s ease-in-out;
        }
        &.animation {
          opacity: 1;
          transform: none;
        }
      }
    }
  }
  .heading_new_pontis__slider-overlay {
    pointer-events: none;
    user-select: none;
    width: 100%;
    height: auto;
    position: relative;
    z-index: 20;
    img {
      user-select: none;
      pointer-events: none;
    }
  }
  .heading_new_pontis__img-slider {
    height: auto;
    overflow: hidden;
    .swiper-slide {
      width: 100%;
      overflow: hidden;
      .swiper-img {
        background-position: center;
        background-size: 110%;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        transform: scale(1.3);
        &.animation {
          animation: headerslideranimation 7s ease-in forwards;
          -webkit-animation: headerslideranimation 7s ease-in forwards;
        }
      }
    }
    .swiper-wrapper {
      position: absolute;
      top: 0;
      transform: scale(0.99);
    }
  }
  .swiper-pagination {
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    .swiper-pagination-bullet {
      height: 12px;
      width: 12px;
      margin-right: 5px;
      @include media-lg {
        height: 16px;
        width: 16px;
        margin-right: 8px;
      }
      background-color: #f2f2f2;
      opacity: 1;
      transition: background-color 0.3s ease;
      &.swiper-pagination-bullet-active {
        background-color: #cccccc;
      }
    }
  }
  .heading_new_pontis__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
    pointer-events: none;
    user-select: none;
    .bg-circle {
      background-image: url("../imgs/svg/header-bg-circle.svg");
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      position: absolute;
      &.bg-circle-1 {
        width: 100px;
        height: 100px;
        top: 22px;
        left: 60%;
        @include media-lg {
          width: 100px;
          height: 100px;
          top: 45px;
          left: 26%;
        }
      }
      &.bg-circle-2 {
        width: 130px;
        height: 267px;
        top: 34%;
        left: -96px;
        @include media-lg {
          width: 190px;
          height: 240px;
          top: 54%;
          left: -150px;
        }
        @include media-xx {
          width: 222px;
        }
      }
      &.bg-circle-3 {
        width: 304px;
        height: 338px;
        bottom: 114px;
        left: 17%;
        display: none;
        transform: translateY(100%);
        @include media-lg {
          display: block;
        }
      }
      &.bg-circle-4 {
        width: 355px;
        height: 629px;
        right: 151px;
        bottom: 230px;
        transform: translate(100%, 100%);
        @include media-sm {
          width: 569px;
          height: 629px;
          right: 228px;
          bottom: 179px;
        }
        @include media-md {
          width: 433px;
          height: 703px;
          right: 200px;
          bottom: 250px;
        }
        @include media-lg {
          width: 569px;
          height: 629px;
          bottom: 200px;
          right: 200px;
        }
        @include media-xl {
          bottom: 200px;
          right: 200px;
        }
      }
    }
  }
}

@keyframes headerslideranimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}

.heading_sub_new_pontis {
  background-color: #fff;
  padding: 60px 0;
  @include media-lg {
    padding: 60px 0;
  }
  overflow: hidden;
  position: relative;
  .heading_sub_new_pontis__bg {
    width: auto;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
    position: relative;
    @include media-lg {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
    }
    .heading_sub_new_pontis__overlay {
      width: 100%;
      height: 100%;
      position: absolute;
      top: -1px;
      left: 0;
      z-index: 2;
      background: rgb(255, 255, 255);
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 5%,
        rgba(255, 255, 255, 0) 50%
      );
      @include media-lg {
        top: 0;
        background: linear-gradient(
          270deg,
          rgba(255, 255, 255, 0) 30%,
          rgba(255, 255, 255, 100) 75%
        );
      }
      &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        background-image: url("../imgs/svg/header-overlay-decor.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50%;
        width: 100%;
        height: 100%;
        @include media-lg {
          background-position: 70%;
          background-size: 60%;
        }
      }
    }
    .bw-img,
    .main-img {
      z-index: 1;
      @include media-max-lg {
        right: 0;
        width: 100%;
        bottom: 0;
      }
      @include media-lg {
        height: 100%;
        right: 0;
      }
    }
    .bw-img {
      position: relative;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
    }
    .main-img {
      position: absolute;
      -webkit-mask-image: url("../imgs/svg/header-subpage-mask.svg");
      mask-image: url("../imgs/svg/header-subpage-mask.svg");
      -webkit-mask-size: 75%;
      mask-size: 75%;
      -webkit-mask-position: center;
      mask-position: center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      @include media-lg {
        -webkit-mask-position: 85%;
        mask-position: 85%;
      }
    }
  }
  .container {
    position: relative;
    z-index: 5;
  }
  .heading_sub_new_pontis__heading {
    span {
      @include media-lg {
        display: block;
      }
    }
    margin-bottom: 40px;
    font-size: 35px;
    @include media-sm {
      font-size: 40px;
    }
    @include media-xl {
      margin-bottom: 60px;
      font-size: 50px;
    }
    font-weight: 600;
    &.green {
      color: #8ba777;
    }
    &.blue {
      color: #529e9e;
    }
    &.red {
      color: #98000c;
    }
  }
  p {
    color: #626363;
    font-weight: 300;
    line-height: 1.4;
    font-size: 14px;

    @include media-sm {
      font-size: 18px;
    }
    @include media-lg {
      max-width: 328px;
      font-size: 20px;
    }
  }
}
