@mixin media-xs {
  @media screen and (min-width: 400px) {
    @content;
  }
}

@mixin media-sm {
  @media screen and (min-width: 576px) {
    @content;
  }
}

@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin media-xl {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin media-xx {
  @media screen and (min-width: 1400px) {
    @content;
  }
}

@mixin media-max-xx {
  @media screen and (max-width: 1399.5px) {
    @content;
  }
}

@mixin media-max-xl {
  @media screen and (max-width: 1199.5px) {
    @content;
  }
}

@mixin media-max-lg {
  @media screen and (max-width: 991.5px) {
    @content;
  }
}

@mixin media-max-md {
  @media screen and (max-width: 767.5px) {
    @content;
  }
}

@mixin media-max-sm {
  @media screen and (max-width: 575.5px) {
    @content;
  }
}

@mixin media-max-xs {
  @media screen and (max-width: 399.5px) {
    @content;
  }
}

@mixin media-header-desktop {
  @media screen and (min-width: 992px),
    (min-aspect-ratio: 1/1) and (min-width: 768px) {
    @content;
  }
}
